* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  width:100%;
}

body {
  width:100%;
}
.header {
  display:table;
  width:100%;
  height:840px;
  text-align: center;
  color:#ffffff;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/header-pink.jpg) center / auto 100% no-repeat;
  background-size: cover;
}
.header-top {
  display: table-cell;
  vertical-align : middle;
  width:66%;
  height:66%;
}
.top-logo {
  padding-bottom:330px;
}
.top-logo img{
  width:132px;
  padding-top:70px;
  padding-bottom:30px;
}
.top-logo-image {
}
.top-logo p{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.top-sns-box {
  width:100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom:40px;
}
.app-banner {
  padding-left:8px;
  padding-right:8px;
}
.app-banner img{
  width:165px;
  height:50px;
}
.google-banner {
  padding-left:5px;
  padding-right:5px;
}
.google-banner img{
  width:165px;
  height:50px;
}
.top-reference {
}



.product {
  width:100%;
  height:670px;
}
.product-boxgate {
  width:100%;
  height:100%;
  display: flex;
  color:#ffffff;
}
.product-box-one {
  width:33%;
  height:100%;
}
.product-box-two {
  width:33%;
  height:100%;
}
.product-box-three {
  width:cover;
  height:100%;
}
.product-box-like {
  width:100%;
  height:100%;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/product-like.jpg) center / auto 100% no-repeat;
  background-size: cover;
}
.product-box-like-text {
  width:460px;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  padding-top:70px;
  text-align: left;
}
.product-box-like-text h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  width:100%;
}
.product-box-like-text h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width:100%;
}
.product-box-post {
  width:100%;
  height:100%;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/product-post.jpg) center / auto 100% no-repeat;
  background-size: cover;
}
.product-box-post-text {
  width:460px;
  height:100%;
  padding-top:70px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.product-box-post-text h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  width:100%;
}
.product-box-post-text h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width:100%;
}
.product-box-decorate {
  width:100%;
  height:100%;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/product-decorate.jpg) center / auto 100% no-repeat;
  background-size: cover;
}
.product-box-decorate-text {
  width:460px;
  height:100%;
  margin-left: auto;
  margin-right;
  padding-top:70px;
  text-align: left;
}
.product-box-decorate-text h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  width:100%;
}
.product-box-decorate-text h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width:100%;
}



.order {
  width:100%;
  height:580px;
}
.order-boxgate {
  width:100%;
  height:100%;
  display: flex;
}
.order-box-one {
  width:50%;
  height:100%;
}
.order-box-trial {
  background-color:rgb(245, 245, 245);
  width:100%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}
.order-trial-box-inner {
  width:50%;
  height:100%;
  text-align: center;
}
.order-box-trial-inner h1{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.order-box-trial-banner {
  width:200px;
  height:200px;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/trial-banner.png) center / auto 100% no-repeat;
}
.order-box-trial-banner img{
  width:130px;
  height:50px;
  z-index:10;
  margin: 0 auto;
  display: block;
}
.order-box-trial-inner h2{
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.order-box-trial-inner h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.order-box-trial-inner h3 span{
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.order-box-trial-inner h4{
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}
.order-box-two {
  width:50%;
  height:100%;
  display:table;
}
.order-box-pace {
  width:50%;
  height:100%;
  display: table-cell;
  vertical-align : middle;
}
.order-box-pace-inner {
text-align: center;
}
.order-box-pace-inner h1{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
.order-pace-image {
  width:200px;
  height:170px;
  background: url(image/pace.png) center / 100% 100% no-repeat;
  margin-left: auto;
  margin-right: auto;
}




.about {
  width:100%;
  height:730px;
  background-color:rgb(233, 213, 220);
}
.about-boxgate {
  width:100%;
  height:100%;
  display: flex;
}
.about-box {
  width:50%;
  height:100%;
}
.about-box-image {
  width:100%;
  height:100%;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/about.jpg) center / 100% 100% no-repeat;
}
.about-box-text {
  width:100%;
  width:100%;
  text-align: center;
  display:table;
}
.about-box-text-inner {
  width:80%;
  height:80%;
  display: table-cell;
  vertical-align : middle;
}
.about-box-text h1,.about-box-text h2,.about-box-text h3{
  width:400px;
}
.about-box-text h1{
  font-weight: 400;
  font-size: 26px;
  line-height: 42px;
  padding-bottom:50px;
}
.about-box-text h2{
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  padding-bottom:12px;
}
.about-box-text h3{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-bottom:24px;
}




.price {
  width:100%;
  height:810px;
  background-color:rgb(230, 227, 222);
}
.price-boxgate {
  width:100%;
  height:100%;
  display: flex;
}
.price-box {
  width:50%;
  height:100%;
}
.price-box-text {
  width:100%;
  height:100%;
}
.price-box-text h1{
  font-weight: ;
  font-size: px;
  line-height: px;
  width:400px;
  margin: 0 auto;
}
.price-box-text h2{
  width:33%;
  float:left;
}
.price-box-text h3{
  width:400px;
}
.price-box-text-example {
  display: flex;
  padding-bottom:20px;
  width:400px;
}
.price-box-text-example-bell {
  width:100px;
  height:120px;
  padding-left:27px;
  padding-right:27px;
  background: url(image/-bell.jpg) center / auto 100% no-repeat;
  background-size: cover;
}
.price-box-text-example-moon {
  width:100px;
  height:120px;
  padding-left:27px;
  padding-right:27px;
  background: url(image/-moon.jpg) center / auto 100% no-repeat;
  background-size: cover;
}
.price-box-text-example-candle {
  width:100px;
  height:120px;
  padding-left:27px;
  padding-right:27px;
  background: url(image/-candle.jpg) center / auto 100% no-repeat;
  background-size: cover;
}
.price-box-text-detail {
  width:400px;
}
.price-box-text-detail-syokai {
  float:left;
  border:2px solid #000000 ;
  width:100px;
  height:60px;
}
.price-box-text-detail-regular {
  float:left;
  width:200px;
  height:60px;
}
.price-box-text h4{
  text-align: left;
  width:400px;
}
.price-box-image {
  background: url(image/price-box-gate.jpg) center / auto 100% no-repeat;
}



.credit {
  width:100%;
  height:530px;
}
.credit-title {
}
.credit-title p{
  font-weight: 400;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
}
.credit-boxgate {
  display: flex;
}
.credit-box {
  width:33%;
  text-align: center;
}
.credit-box-easy {
}
.credit-box-easy-image {
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/credit-easy.png);
  background-size: cover;
  width:60px;
  height:80px;
  margin-left: auto;
  margin-right: auto;
}
.credit-box-easy h1{
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
}
.credit-box-easy h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.credit-box-app {
}
.credit-box-app-image {
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/credit-app.png);
  background-size: cover;
  width:60px;
  height:80px;
  margin-left: auto;
  margin-right: auto;
}
.credit-box-app h1{
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
}
.credit-box-app h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.credit-box-warranty {
}
.credit-box-warranty-image {
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/credit-warranty.png);
  background-size: cover;
  width:60px;
  height:80px;
  margin-left: auto;
  margin-right: auto;
}
.credit-box-warranty h1{
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
}
.credit-box-warranty h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}




.atmosphere {
  width:100%;
  height:420px;
  background-color:rgb(238, 224, 197);

}
.atmosphere-boxgate {
  width:100%;
  height:100%;
  display: flex;
}
.atmosphere-box {
  width:50%;
  height:100%;
}
.atmosphere-image {
  width:540px;
  height:100%;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/atmosphere.jpg) center / auto 100% no-repeat;
}
.atmosphere-logo {
  width:100%;
  padding-top:50px;
}
.atmosphere-logo-image {
  width:125px;
  background: url(image/atmosphere-logo.png) center / 100% auto no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.atmospheret-logo h1{
  text-align: center;
}



.footer {
  width:100%;
  height:420px;
  background-color:rgb(63, 68, 73);
  text-align: center;
}
.footer-content {
  width:100%;
  height:100%;
  padding-top:65px;
  padding-bottom:180px;
  color:#ffffff;
}
.footer-box {
  width:100%;
  height:100%;
  display: flex;
}
.footer-box h1,.footer-box h2,.footer-box h3,.footer-box h4,.footer-box h5,.footer-box h6{
  width:12.5%;
  height:100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-left:65px;
  padding-right:65px;
}
.footer-box img{
  width:55px;
  height:55px;
}
.footer-copyright {
  padding-bottom:60px;
}
.footer-copyright {
  color:rgb(139, 142, 146);
}













. {}
