* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

html {}

head {}

header {
  width:100%;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/header-pink.jpg) center center / cover no-repeat fixed;
}
.top {
  text-align: center;
}
img.top-logo {
  width:210px;
  height:170px;
}
.top-logo {
}
.top-sns-box {
  display: flex;
}
img.app-banner {
  width:165px;
  height:50px;
  padding-left:5px;
  padding-right:5px;
}
img.google-banner {
  width:165px;
  height:50px;
  padding-left:5px;
  padding-right:5px;
}
.top-reference {
  text-align: center;
}

product {
}
.product-boxgate {
  display: flex;
}
.product-box {
  width:33.33%;
}
.product-box-like {
  background: url(background-photo.jpg) center center / cover no-repeat fixed;
  margin-left: auto;margin-right: auto;width:%;
}
.product-box-like-text {
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

.order {
  width:100%;
  background: url(image/bg_header_pink.jpg);
}













. {}
