* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

html {
}

head {}

.header {
  text-align: center;
  
  height:840px;
  background-image: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/header-pink.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.top {
}
img.top-logo {
  width:210px;
  height:170px;
}
.top-logo {
}
.top-sns-box {
  display: flex;
}
img.app-banner {
  width:165px;
  height:50px;
  padding-left:5px;
  padding-right:5px;
}
img.google-banner {
  width:165px;
  height:50px;
  padding-left:5px;
  padding-right:5px;
}
.top-reference {
}

.product {
  width:100%;
}
.product-boxgate {
  display: flex;
}
.product-box {
  width:33.33%;
}
.product-box-like {
  height:670px;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/background-photo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.product-box-like-text {
  width:30em;
  margin-left: auto;
  margin-right: auto;
}
.product-box-post {
  height:670px;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/product-post.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.product-box-post-text {
  width:30em;
  margin-left: auto;
  margin-right: auto;
}
.product-box-decorate {
  height:670px;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/product-decorate.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.product-box-decorate-text {
  width:30em;
  margin-left: auto;
  margin-right;
}
.product-box h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}
.product-box h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}


.order {
  width:100%;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/bg_header_pink.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.order-boxgate {
  display: flex;
}
.order-box {
  width:50%;
}
.order-box-trial {
  background-color:rgb(245, 245, 245);
  text-align: center;
}
.order-box-trial h1{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.order-box-trial h2{
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.order-box-trial h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.order-box-trial h3 span{
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.order-box-trial h4{
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}
.order-box-pace {
  text-align: center;
}
.order-box-pace h1{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.about {
  width:100%;
  height:730px;
  background: url(https://raw.githubusercontent.com/genkimita/mosya-flower/master/image/about.jpg);
}
.about-box {
  text-align: center;
}
.about-box h1{}
.about-box h2{}
.about-box h3{}
.about-box h4{}
.about-box h5{}
.about-box h6{}
.about-box h7 {}










. {}
